.App {
  text-align: center;
}

.App-main {
  background-color: #C2F1EA;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: white;
}

.App-div {
  padding: 2px;
}
